useDynLib(betategarch)
import(zoo)
export("rST", "dST", "STmean", "STvar", "STskewness", "STkurtosis", "tegarchSim", "tegarch", "coef.tegarch", "fitted.tegarch", "logLik.tegarch", "predict.tegarch", "print.tegarch", "residuals.tegarch", "summary.tegarch", "vcov.tegarch")
S3method("coef", "tegarch")
S3method("fitted", "tegarch")
S3method("logLik", "tegarch")
S3method("predict", "tegarch")
S3method("print", "tegarch")
S3method("residuals", "tegarch")
S3method("summary", "tegarch")
S3method("vcov", "tegarch")

