useDynLib(betategarch)
import(zoo)
export("rST", "dST", "STmean", "STvar", "STskewness", "STkurtosis", "tegarchSim", "tegarch")
S3method("coef", "tegarch")
S3method("fitted", "tegarch")
S3method("logLik", "tegarch")
S3method("predict", "tegarch")
S3method("print", "tegarch")
S3method("residuals", "tegarch")
S3method("summary", "tegarch")
S3method("vcov", "tegarch")

